<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body class="has-background-light">

{% block nav %}
    {{ include('layout/navbar/navbar.html.twig') }}
{% endblock %}

<div class="section">
    <div class="columns">
        <div class="column">
            <div class="container">
                <div class="box">
                    {% block main %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
